<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="con.shiyun.paradise.dao.BrandDao">
<!-- <cache type="cn.shiyun.utils.RedisCache"/> -->
 
    <resultMap type="Brand" id="brand"> 
        <result property="BrandId" column="BRANDID"/> 
        <result property="BrandCode" column="BRANDCODE"/> 
        <result property="BrandName" column="BRANDNAME"/> 
        <result property="BrandDesc" column="BRANDDESC"/>
        <result property="BrandSeq" column="BRANDSWQ"/> 
        <result property="pBrandId" column="PBRANDID"/>
        <result property="Status" column="STATUS"/> 
    </resultMap> 
    
     <select id="selectBrand" resultType="Map">
        select BrandId,BrandCode,BrandName,BrandDesc,BrandSeq,pBrandId,`Status` from bi.sy_brand
    </select>
    
    <select id="selectBrandCount" resultType="Int">
        select count(*) from bi.sy_brand
    </select>

     

    



    
</mapper> 